* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    
}

.for_page {
    overflow: hidden;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.header {
    padding-top: 37px;
    padding-bottom: 48px;
}

.responsive_menu {
    display: none;
}

.general_logo img {
    max-width: none;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav-list li a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    color: #212121;
    margin-right: 48px;
    white-space: nowrap;
    transition: 0.3s;
}

.nav-list li a:hover {
    color: #2d72c7;
    text-decoration: none;
}

.arr {
    margin-right: 48px;
}

.btn_main {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    padding: 21px 24px;
    color: #212121;
    border: none;
    cursor: pointer;
    background: #F1F5FF;
    border-radius: 16px;
    transition: 0.8s;
}

.btn_main:hover {
    background: #2763da;
}

.main_block {
    padding-bottom: 124px;
}

.main_logos {
    margin-bottom: 57px;
}

.main_article h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #212121;
    margin-bottom: 16px;
}

.main_article h2 span {
    color: #0057FF;
}

.main_article p {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #212121;
}

.contacts_buttons .btn_join {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background: #FFFFFF;
    padding: 16px 65px 16px 65px;
    color: #212121;
    border: 2px solid #0057FF;
    box-sizing: border-box;
    border-radius: 8px;
    margin-right: 16px;
    transition: 0.6s;
    cursor: pointer;
    text-decoration: none;
}

.contacts_buttons {
    margin-top: 48px;
}

.contacts_buttons .contact_us {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background: #FFFFFF;
    padding: 16px 60px 16px 60px;
    color: #212121;
    border: 2px solid #0057FF;
    box-sizing: border-box;
    border-radius: 8px;
    transition: 0.6s;
    cursor: pointer;
    text-decoration: none;
}

.contacts_buttons .btn_join:hover {
    background: #0057FF;
}

.contacts_buttons .contact_us:hover {
    background: #0057FF;
}

.info_article {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #212121;
    margin-bottom: 40px;
}

.info_article span {
    color: #FED500;
}

.info_organization {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #212121;
}

.activity_block {
    max-width: 290px;
    max-height: 360px;
    background: #F1F5FF;
    border-radius: 24px;
    text-align: center;
}

.activity_block p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #212121;
    padding-bottom: 77px;
    max-width: 278px;
}

.activity_block img {
    margin-top: 81px;
    margin-bottom: 24px;
}

.our_activity {
    padding-bottom: 75px;
}

.coop_text h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #212121;
}

.coop_text h2 span {
    color: #0057FF;
}

.cooperation {
    padding-bottom:50px;
}

.companies {
    background: #F1F5FF;
    padding-top: 79px;
    padding-bottom: 79px;
    position: relative;
    z-index: 20;
}

.partners {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.partners .partner {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    color: #212121;
    margin-right: 25px;
}


.history {
    padding-top: 90px;
}

.history_article {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 16px;
    margin-top: 28px;
    color: #212121;
}

.history_article span:first-child {
    color: #0057FF;
}

.history_article span:nth-child(2) {
    color: #FED500;
}

.history_info {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #212121;
}


.join_us {
    padding-top: 103px;
    padding-bottom: 45px;
}

.join_us h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #212121;
}

.join_us h2 span {
    color: #0057FF;
}

.form_input {
    background: #F1F5FF;
    position: relative;
    z-index: 100;
}

.form_input::before {
    content: "";
    background: url(../img/blue_wave.png) repeat-x;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: -144px;
    left: 0;
}

.user_info {
    display: none;
}

.user_lastname {
    margin-left: 48px;
}

.user_name h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    color: #212121;
    margin-bottom: 22px;
}

.user_lastname h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    color: #212121;
    margin-bottom: 22px;
}

.user_name input {
    background: #FFFFFF;
    border-radius: 16px;
    padding: 18px 24px 18px 24px;
    text-align: center;
    border: 1px solid white;
}

.user_name input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 29px;
    color: rgba(33, 33, 33, 0.5);
}

.user_lastname input {
    background: #FFFFFF;
    border-radius: 16px;
    padding: 18px 24px 18px 24px;
    text-align: center;
    border: 1px solid white;
}

.user_lastname input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 29px;
    color: rgba(33, 33, 33, 0.5);
}

.user_spec {
    display: none;
    flex-direction:column;
    margin-top: 48px;
    margin-bottom: 12px;
}

.user_spec h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #212121;
    white-space: nowrap;
}


.user_number {
    margin-bottom: 34px;
}

.user_number h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #212121;
    margin-bottom: 24px;
}

.user_number input {
    width: 514px;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 18px 24px 18px 24px;
    text-align: center;
    border: 1px solid white;
}

.user_spec h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #212121;
    margin-bottom: 24px;
}

.user_spec input {
    width: 514px;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 18px 24px 18px 24px;
    text-align: center;
    border: 1px solid white;
}


.connection h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #212121;
    white-space: nowrap;
    text-align: left;
    margin-top: 50px;
}

.send_application .btn_send {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background: #FFFFFF;
    padding: 16px;
    color: #212121;
    border: 2px solid #0057FF;
    box-sizing: border-box;
    border-radius: 16px;
    margin-right: 52px;
    transition: 0.6s;
    cursor: pointer;
    
}
.send_application {
    display: none;
}
.send_application .btn_send:hover {
    background: #0057FF;
}

.our_contacts {
    padding-top: 57px;
    padding-bottom: 57px;
    background: #0057FF;
}

.our_contacts img {
    margin-right: 16px;
}

.our_contacts .link_tel a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #F1F5FF;
    white-space: nowrap;
}

.our_contacts .link_mail a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #F1F5FF;
    white-space: nowrap;
}

.our_contacts .link_tg a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #F1F5FF;
    white-space: nowrap;
}

.our_contacts .link_insta a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #F1F5FF;
    white-space: nowrap;
}

.input.error {
    border: 1px solid red;
}

.connection .about_coworkers {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    color: #212121;
    margin-top: 60px;
    
}


.social-links  li {
    list-style-type: none;
    margin-bottom: 13px;
    
}
.social-links  li a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    background: #FFFFFF;
    padding: 5px 30px 5px 30px;
    color: #212121;
    border: 2px solid #0057FF;
    box-sizing: border-box;
    border-radius: 10px;
    transition: 0.8s;
    cursor: pointer;
}

.social-links  li a:hover {
    background-color: #0057FF;
}

.social-links .youtube_link a {
    padding: 5px 32px 5px 32px;
}

.social-links .email_link a {
    padding: 5px 43px 5px 43px;
}

.lenguage_list {
    display: flex;
    justify-content: center;
}
.lenguage_list li {
    list-style-type: none;
    margin-right: 10px;
}

.lenguage_list li a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    color: rgb(0, 87, 255);
    white-space: nowrap;
    transition: 0.4s;
    text-decoration: none;
    margin-right: 10px;
}

.lenguage_list li a:hover {
    color: #FED500;
}


.lenguage_list li .eng_link {
    color: #FED500;
}

.lenguage_list li .eng_link:hover {
    color: rgb(0, 87, 255);
}